section#pricing div.wrapper{
  padding-top: 50px;
  padding-bottom: 70px;
  background: url('../img/academy.jpg');
  background-size: cover;
}
section#pricing div.filter{
  width: 100%;
  height: 100%;
  background: rgba(8, 62, 150, 0.26);
}
.promos {
  max-width: 1140px;
  margin: 0 auto;
}
.promo {
  margin: 1em .5em 1.625em;
  padding: .25em 0 2em;
  background: #616161;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.625;
  color: #f9f9f9;
  text-align: center;
}
@media (min-width: 40em) {
  .promo {
    display: inline;
    float: left;
    width: 33.333%;
    margin: 1em 0 0;
    margin-top: 3em;
  }
  .promo.first {
    border-right: none;
  }
  .promo.second {
    float: right;
    border-left: none;
  }
}
.promo h4 {
  margin: .25em 0 0;
  font-size: 170%;
  font-weight: normal;
}
.promo .features {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #ccc;
}
.promo li {
  padding: .25em 0;
}
.promo .brief {
  color: #f9f9f9;
}
.promo .price {
  margin: .5em 0;
  padding: .25em 0;
  background: #484a4c;
  font-size: 250%;
  color: #f9f9f9;
}
.promo .buy {
  margin: 1em 0 0;
}
.promo button {
  padding: 1em 3.25em;
  border: none;
  border-radius: 40px;
  background: #292b2e;
  color: #f9f9f9;
  cursor: pointer;
}
.promo button:hover {
  background: #27282b;
}
.promo span {
  font-size: 16px;
}

.scale button {
  background: #2a5475;
}
.scale button:hover {
  background: rgba(55, 160, 243, 0.47);
}
@media (min-width: 40em) {
  .scale {
    transform: scale(1.2);
    box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);
  }
  .scale .price {
    color: white;
  }
}
