body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 28px;
  font-weight: 300;
}
p {
  font-size: 15px;
  line-height: 28px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}
.section-title {
  margin-bottom: 70px;
}
.section-title {
  /*font-size: 28px;*/
  /*font-weight: 600;*/
  text-transform: uppercase;
  text-align: center;
  margin: 25px;
}
.section-title p {
  font-family: 'Volkhov', serif;
  font-style: italic;
  color: #666;
}
section.break {
  margin-top: 50px;
  margin-bottom: 50px;
}
div.bullet {
  height: 10px;
  width: 10px;
  border-radius:50%;
  background-color: white;
  margin: 5px;
  margin-bottom: -3px;
}

/* Header Start */
header {
  background: #fff;
  padding: 3px 0;
}
header .navbar {
  margin-bottom: 0px;
  border: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}
header .navbar-brand {
  height: 50px;
  display: flex;
  padding: 0px;
  position: absolute;
  z-index: 1;
}
header .nav-wrapper {
  display: flex;
  justify-content: center;
}
header .navbar-brand img {
  width: 70px;
  padding-top: 4px;
}
header .navbar-default {
  background: none;
  border: 0px;
}
header .navbar-default .navbar-nav {
  padding: 5px 0px;
}
header .navbar-default .navbar-nav li a {
  color: #333333;
  padding: 10px 10px;
  font-size: 15px;
}
div.navbar-collapse {
  /* Mobile bug */
  height: 1px; 
}
font header .navbar-default .navbar-nav li a:hover {
  color: #000;
}
#logo-alt {
  width: auto;
  height: 50px;
}
/* END HEADER START */

/* SECTION INTRO */
section#intro {
  height: 55vh;
  min-height: 250px;
}
section#intro div.wrapper {
  padding: 0;
}
section#intro div.slider {
  /*width: 100%;*/
  height: 55vh;
  min-height: 280px;
}
section#intro div.slider-1 {
  background: url("../img/avancado1.jpg") no-repeat;
  background-position: center 70%;
  background-size: cover;
}
section#intro div.slider-2 {
  background: url("../img/fundamental1.jpg") no-repeat;
  background-position: center 25%;
  background-size: cover;
}
section#intro div.slider-3 {
  background: url("../img/kids1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
section#intro h1.class {
  margin-top: 30vh;
  color: white;
  font-size: 60px;
  padding-left: 10px;
  padding-right: 10px;
}
section#intro p.class {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 400px) {
  section#intro {
    margin-bottom: 20px;
  }
  section#intro h1.class {
    font-size: 40px;
  }
}
@media screen and (max-height: 400px) {
  section#intro h1.class {
    font-size: 50px;
  }
}
/* END INTRO SECTION */

/* SECTION VIDEO */
section#video div.flex {
  margin: 0 auto;
  width: 60%;
}
.embed-container {
  position: relative;
  overflow: hidden;
  /*width: 60%;*/
  margin: auto;
  padding-bottom: 56%
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
@media screen and (max-width: 800px) {
  section#video div.flex {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  section#video div.flex {
    width: 100%;
  }
}
/* END VIDEO SECTION */

/* BENEFITS SECTION */
section#benefits {
  /*min-height: 400px;*/
}
section#benefits .intro-title {
  border-bottom: 1px solid black;
  margin-top: 50px;
}
section#benefits .benefitParent {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  align-content: stretch;
  margin-top: 50px;
}
section#benefits h1, 
section#benefits h3 {
  margin-bottom: 25px;
  font-size: 50px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
section#benefits div.benefit {
  text-align: center;
  /*display: inline-table;*/
  /*padding: 10px 5%;*/
  /*width: 32.9%;*/
}
section#benefits span.icon-container {
  margin-bottom: 20px;
  margin-top:20px
}
section#benefits img.icon {
  width: 65%;
  padding: 10px;
  margin: auto;
}
section#benefits div.last{
  min-width: 20%;
}
section#benefits h1.last{
  margin-bottom: 40px;
}
@media screen and (max-width: 600px) {
  section#benefits .benefitParent {
    flex-direction: column;
    align-items: stretch;
  }
  section#benefits img.icon { width: 40%; }
  section#benefits h1.last { margin-top: 40px; }
}
/* END BENEFITS SECTION */

/* SECTION TESTIMONIAL */
section#testimonials {
  min-height: 55vh;
}
section#testimonials div.wrapper {
  padding: 0;
}
section#testimonials div.slider {
  /*width: 100%;*/
  height: 55vh;
  min-height: 300px;
}
section#testimonials div.slider-1 {
  background: url("../img/testimonial11.jpg") no-repeat;
  background-position: center top;
  background-size: cover;
}
section#testimonials div.slider-2 {
  background: url("../img/testimonial22.jpg") no-repeat;
  background-position: center 20%;
  background-size: 60%;
}
section#testimonials div.slider-3 {
  background: url("../img/testimonial3.jpg") no-repeat;
  background-position: center 18%;
  background-size: 60%;
}
section#testimonials div.testimonial-wrapper {
  padding: 15px;
  border-radius: 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);;
  border-left: 1px solid rgba(255, 255, 255, 0.6);;
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 8vh;
}
section#testimonials p.testimonial {
  color: rgba(12, 12, 12, 0.7);
  font-size: 16px;
}
section#testimonials p.student {
  color: grey;
  text-align: right;
  padding-right: 20px;
}
@media screen and (max-width: 400px) {
  section#testimonials p.testimonial {
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (max-width: 600px) {
  section#testimonials p.student {
    color: white;
  }
}
@media screen and (max-width: 1024px) {
  section#testimonials div.testimonial-wrapper {
    margin-top: 5vh;
  }
  section#intro div.slider {
    height: 100vh;
  }
  section#testimonials div.slider-2 {
    background-position: center 15%;
    background-size: cover;
  }
  section#testimonials div.slider-3 {
    background-position: center 15%;
    background-size: cover;
  }
}
/* END SECTION TESTIMONIALS */

/* Team Section */
section#team{
  overflow: hidden;
}
section#team div.teacher-container {
  padding: 15px;
  text-align: center;
}
section#team figure.teacher {
  width: 70%;
  background: white;
}
section#team figcaption {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(51,51,51,0.0)!important;
  padding: 5px;
}
section#team figcaption p {
  font-size: 12px;
}
section#team img.teacher {
  max-width: 95%;
  height: auto;
  border-radius: 50%;
  border: 1px solid #333333;
}
section#team button.see-more {
  outline: none!important;
  color: #333;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(51, 51, 51, 0.64);
}
section#team button.see-more:hover {
  color: white;
}
[class*=' imghvr-shutter-out-']:before, [class^=imghvr-shutter-out-]:before {
  background-color: rgba(51,51,51,0.4)!important;
}
/* END SECTION TEAM */

/* SECTION TESTIMONIAL */
#testimonial {
  padding: 100px 0;
}
#testimonial .block h2 {
  line-height: 27px;
  color: #5C5C5C;
  padding-top: 110px;
}
#testimonial .block p {
  padding-top: 50px;
  color: #7B7B7B;
}
#testimonial .counter-box li {
  width: 50%;
  float: left;
  text-align: center;
  margin: 30px 0 30px;
}
#testimonial .counter-box li i {
  font-size: 35px;
}
#testimonial .counter-box li h4 {
  font-size: 30px;
  font-weight: bold;
}
#testimonial .counter-box li span {
  color: #555;
}
#testimonial .testimonial-carousel {
  text-align: center;
  border: 1px solid #DEDEDE;
  padding: 5px;
  margin: 0 auto;
}
#testimonial .testimonial-carousel img {
  padding-bottom: 38px;
}
#testimonial .testimonial-carousel p {
  line-height: 28px;
  font-weight: 300;
  padding-bottom: 20px;
}
#testimonial .testimonial-carousel .user p {
  padding-bottom: 0;
  font-size: 12px;
  line-height: 20px;
  color: #353241;
}
#testimonial .testimonial-carousel .owl-carousel .owl-pagination div {
  border: 1px solid #1D1D1D;
  border-radius: 500px;
  display: inline-block;
  height: 10px;
  margin-right: 15px;
  width: 10px;
}
#testimonial .testimonial-carousel .owl-carousel .owl-pagination div.active {
  background: #5C5C5C;
  font-size: 30px;
  display: inline-block;
  border: 0px;
}
/* END SECTION TESTIMONIAL */

/* HORARIO SECTION */
section#horario img{
  display: block;
  margin: auto;
  width: 90%;
}
section#horario div.title-section {
  background: rgba(255, 255, 255, 0.77);
  margin-bottom: 50px;
}
section#horario div.wrapper {
  /*background: url("../img/lone-belt.jpg");*/
  background-color: grey;
  background-size: cover;
  padding-bottom: 50px;
}
/*@media screen and (max-width: 900px) {*/
  /*section#horario img{*/
    /*width: 80%;*/
  /*}*/
/*}*/
/*@media screen and (max-width: 450px) {*/
  /*section#horario img{*/
    /*width: 98%;*/
  /*}*/
/*}*/
/* END HORARIOS SECTION */

/* FREE CLASS SECTION */
section#free-class div.row {
  height: 30vh;
  min-height: 200px;
  background: url("../img/free-class1.jpg") no-repeat;
  background-position: 50% 30%;
  background-size: cover;
}
section#free-class div.filter {
  background: rgba(8, 62, 150, 0.26);
  height: 100%;
  width: 100%;
}
section#free-class div.filter {
  display: flex;
}
a.free-class {
  margin: auto;
}
button.free-class {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  color: white !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-right: 2vw;
  padding-left: 2vw;
  font-family: 'Roboto Condensed', sans-serif;
  outline: none !important;
}
button.free-class:hover {
  background: rgba(255, 255, 255, 0.25);
  color: white;
  border: 2px solid white;
}
/* END FREE CLASS SECTION */

/* ClASSES SECTION */
section#classes div.class-wrapper {
  height: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
section#classes div.classes {
  min-height: 250px;
  display: flex;
  align-content: center;
  align-items: stretch;
  text-align: justify;
}
section#classes div.class-wrapper {
  min-height: 290px;
}
section#classes h2.class {
  color: rgba(255, 255, 255, 0.85);
}
section#classes p.class-description {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 200;
  padding: 3px;
  background: rgba(113, 113, 113, 0.27);
}
section#classes div#class1 {
  background: url("../img/avancado1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
section#classes div#class2 {
  background: url("../img/fundamental1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
section#classes div#class3 {
  background: url("../img/kids1.jpg") no-repeat;
  background-position: right;
  background-size: cover;
}
section#classes div#class4 {
  background: url("../img/private-classes.jpg") no-repeat;
  background-position: right;
  background-size: cover;
}
@media screen and (max-width: 1024px) {
  section#classes div.classes {
    flex-direction: column;
  }
  section#classes div.class-wrapper {
    min-height: 240px;
  }
}
/* END OF CLASSES SECTION */

/* SECTION CONTACT*/
iframe#map {
  width: 100%;
  height: 40vh;
}
section#contact div.wrapper {
  padding: 0;
}
/* SECTION CONTACT */
#contact form .form-group {
  margin-bottom: 5px;
}
#contact form .form-group .form-control {
  background: #F6F8FA;
  height: 40px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  border-radius: 2px;
  color: #333333;
}
#contact form .form-group-2 {
  padding-bottom: 15px;
  margin: 0px;
}
#contact form .form-group-2 textarea {
  color: #333333;
  background: #F6F8FA;
  height: 200px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
}
#contact button {
  width: 100%;
  height: 60px;
  background: #333333;
  border: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
div.academy-card {
  top: 10px;
  left: 25px;
  margin: 0px;  
  width: 35%;
  box-shadow: 5px 5px 20px #cccbcb;
  position: absolute;
  z-index: 1;
  background: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.academy-card .location{
  margin: 0px;  
}
div.academy-card img.logo{
  width: 30px;
}
.google-map {
  position: relative;
  margin-bottom: 10px;
}
.google-map .map {
  width: 100%;
  height: 180px;
}
/* END SECTION CONTACT */

/* SECTION FOOTER */
footer {
  background: #F5F5F5;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 55px;
}
footer p {
  font-size: 13px;
  line-height: 25px;
  color: #919191;
}
footer a {
  color: #595959;
}
span.love {
  font-size: 20px;
  color: #ad0000;
  font-family: cursive;
}
/* END SECTION FOOTER */
